/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
ul,
ol, 
dl,
dd {
  margin: 0 0 1.5rem;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */

html{
    line-height: 1.5;
    font-family: Roboto sans-serif;
}
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0;
}

/* A elements that don't have a class get default styles */
a {
    text-decoration-skip-ink: auto;
    color: #36BF7F;
}

a:hover,
a:focus {
    color: #D96666;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

svg{
    fill: currentColor;
}

svg:not(:root) {
    overflow: hidden;
}

/* Inherit fonts for inputs and btns */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/*container style*/
.container{
    width: min(65em, 100%);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/*button styles*/
.btn{
    display: inline-block;
    padding: .55em 1.5em .5em;
    background-color: #394A59;
    border: 0.125rem solid #394A59;
    color: #fff;
    border-radius: .25em;
    -webkit-border-radius: .25em;
    -moz-border-radius: .25em;
    -ms-border-radius: .25em;
    -o-border-radius: .25em;
    text-decoration: none;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
}
.btn:hover,
.btn:focus-visible{
    background-color: #59758d;
    border-color:#59758d
}

.btn--secondary{
background: #36BF7F;
border-color: #36BF7F;
color: #000;
}

.btn--secondary:hover, 
.btn--secondary:focus-visible{
background: #75d3a7;
border-color: #75d3a7;
color: #000;
}

.btn-large{
font-size: 1.150rem;
}

/*banner styles*/

.banner{
    background-image: linear-gradient(to bottom, #0009, #0009), 
    url('../images/banner.jpg');
    background-position: center;
    background-size: cover;
}

.banner .container{
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 50%;
}

.banner__content{
    width: min(35em, 100%);
}

.banner__title{
    font-size: 1.756rem;
    line-height: 1.3;
    color: #36BF7F;
}

.banner__text{
    font-size: 1.150rem;
    color: white;
}

/*responsive size*/

@media only screen and (min-width: 45em){
    .banner__title{
        font-size: 2.060rem;
    }

    .banner__text,
    .btn--large{
        font-size: 1.200rem;
    }
}

@media only screen and (min-width: 60em){
    .banner__title{
        font-size: 2.444rem;
    }

    .banner__text,
    .btn--large{
        font-size: 1.250rem;
    }
}

.banner--large{
    padding: 4rem;
    min-height: 80vh;
}
.banner--bottom{
   display: flex;
   align-items: flex-end;
}


.banner--right{
   display: flex;
   justify-content: right;
   align-items: center;
   text-align: right;
}

.banner--left{
   display: flex;
   justify-content: left;
   align-items: center;
   text-align: left;
}


.banner--center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

