button{
    border-radius:0.5em;
    display: inline-block;
    padding: 1em 2em;
    font-family: sans-serif;
    cursor: pointer;
    -webkit-border-radius:0.5em;
    -moz-border-radius:0.5em;
    -ms-border-radius:0.5em;
    -o-border-radius:0.5em;
}

.button-primary{
background: #394A59;
color: white;
font-size: medium;
}

.button-primary:hover{
background: #59758d;
}

.button-secondary{
background: #36BF7F;
color: black;
font-size: medium;
}

.button-secondary:hover, :focus{
background: #75d3a7;
}

.button-outline{
border:0.2em solid black;
background: white;
color: black;
font-size: medium;
}

.button-outline:hover, :focus{
background: #394A59;
color:white;
}

.button-small{
background: #394A59;
color: white;
font-size: small;
}

.button-small:hover, :focus{
 background: #59758d;
}

.button-large{
background: #394A59;
color: white;
font-size: large;
}

.button-large:hover, :focus{
background: #59758d;
}

